.home-slider {
  height: 100vh;
}

.home__header {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  z-index: 5;
}

.home-slider__item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}