// @import "./layout/fonts.pcss";
@import "normalize.css";
// @import "animate.css";
@import "./mixins.pcss";
// @import "jquery-ui/themes/base/slider.css";
@import "slick-carousel/slick/slick.css";
// @import "jquery-ui/themes/base/tabs.css";
// @import "lightbox2/dist/css/lightbox.css";
@import "./layout/base.pcss";
@import "./blocks/**/*.pcss";